# Réseau Sepolia
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/CLE_ALCHEMY
SEPOLIA_PRIVATE_KEY=CLE_PRIVEE

# Comptes auditeurs de test (utilisés par scripts/seed.ts sur tous les réseaux)
# Ces adresses doivent avoir un peu d'ETH sur Sepolia pour signer les transactions
AUDITOR_1_PRIVATE_KEY=
AUDITOR_2_PRIVATE_KEY=
AUDITOR_3_PRIVATE_KEY=
AUDITOR_4_PRIVATE_KEY=
